<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Gjaldbrot</h1>
    </header>
    <main>
        <form>
            <fieldset>
                <legend>Innskráning</legend>
                <label>Notendanafn <input id="username" type="text" required></label>
                <label>Lykilorð <input id="password" type="password" required></label>
            </fieldset>
            <button id="Login">Innskrá</button>
        </form>
    </main>
</body>
</html>