<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Gjaldbrot</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Menu item 1</li>
                <li>Menu item 2</li>
                <li>Menu item 3</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main__container">
            <div class="main__container__title">
                <h1 class="">Gjaldbrot</h1>
            </div>
            <div class="main__container__select">
                <div class="main__container__select-value">
                    <button class="">Upphæð</button>
                </div>
                <div class="main__container__selec-slide">
                    <select name="" id="">
                        <option value="1">Test 1</option>
                        <option value="2">Test 2</option>
                        <option value="3">Test 3</option>
                        <option value="4">Test 4</option>
                    </select>
                </div>
            </div>
        </div>
    </main>
</body>
</html>