<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register</title>
</head>
<body>
    <main class="rmain">
        <div class="rmain__container">
            <h1>Register</h1>
            <form action="POST" class="rmain__container__registerForm">
                <p>First name:</p>
                <input type="text" name="pFName" >
                <p>Last name:</p>
                <input type="text" name="pLName" >
                <p>Email:</p>
                <input type="text" name="pEmail" >
                <p>Password:</p>
                <input type="text" name="pPassword">
                <p>Confirm Password:</p>
                <input type="text" name="cPassword">
                <br>
                <input type="submit" value="submit" class="rmain__container__registerForm-submit">
            </form>
            <div class="rmain__indexlink">
                <P>Back to login? <a href="LoginPage.html">Here</a></P>
            </div>
        </div>
    </main>
</body>
</html>