:root{
    --columns: 12;
    --max_width: 1400px;
    --gutter: 20px;
    --offset: 10px;
    --column_width: calc((100% / var(--columns)) - var(--gutter));
    box-sizing: border-box;
}
body{
    background-color: #C5E3BF;
}

h1{
    text-align: center;
    font-size: 20vh;
    margin-bottom: var(--gutter);
}

/******Login styles******/
.login{
    margin: auto;
}
.login_fieldset{
    height: 80%;

    display: flex;
    flex-direction: column;
}
.login_field{
    flex-direction: column;
    justify-content: center;

    height: 4rem;
}
.login_id{
    margin:0;
}
.login_input{
    height: 1.5rem;
    font-size: 1rem;
}

.login_button{
    float: right;
}
.signup{
    margin:auto;
}

/*****Grid setup*****/
.grid{
    display: flex;
    flex-direction: column;

    width: calc(100%-var(--offset));
    max-width: var(--max_width);
}
.row{
    display: flex;

    width: 100%;
    margin-bottom: var(--gutter);
}
.col_6{
    width: 50%;
}

.offset_col_3{
    margin-left: 25%;
}

@media (max-width:600px){
    h1{
        font-size: 18vw;
    }
    .login{
        width:90%;
    }
    .signup{
        width: 90%;
    }
}

@media (max-width: 400px){
    .login{
        width:100%;
    }
    .signup{
        width: 100%;
    }
}