#matur {
  background-color: rgba(250,50,0,0.8);
}
#fatnadur {
  background-color: rgba(24,128,68,0.8);
}
#afengi {
  background-color: rgba(209,131,192,0.8);
}
#tobak {
  background-color: rgba(52,236,254,0.8);
}
#skemmtun {
  background-color: rgba(238,233,52,0.8);
}
#veitingar {
  background-color: rgba(255,51,30,0.8);
}