<html xmlns:th="https://thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<div class="header" th:fragment="header">
    <input type="checkbox" class="navbarInput" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li><a href="/mainPage">Gjaldbrot<span>Menu</span></a></li>
            <li><a href="/overView">Overview</a></li>
            <li><a href="/addReceipt">Add receipt</a></li>
            <li><a href="">Savings</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/getAllReceipts">All Receipts</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
</div>