<html xmlns:th="https://thymeleaf.org">
<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<div class="header" th:fragment="header">
    <input type="checkbox" class="navbarInput" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li><a href="/mainPage">Gjaldbrot<span>Menu</span></a></li>
            <li><a href="/overView">Overview <img th:src="@{'navImages/overview.svg'}", alt="overview icon"></a></li>
            <li><a href="/addReceipt">Add receipt <img th:src="@{'navImages/add.svg'}", alt="add icon"></a></li>
            <li><a href="/savings">Savings <img th:src="@{'navImages/savings.svg'}", alt="add icon"></a></li>
            <li><a href="/comparison">Contact <img th:src="@{'navImages/compare.svg'}", alt="add icon"></a></li>
            <li><a href="/allReceipts">All Receipts <img th:src="@{'navImages/receipt.svg'}", alt="receipt icon"></a></li>
            <li><a href="/logout">logout <img th:src="@{'navImages/logout.svg'}", alt="add icon"></a></li>
        </ul>
    </div>
</div>