:root{
    --columns: 12;
    --max_width: 1400px;
    --gutter: 20px;
    --offset: 10px;
    --column_width: calc((100% / var(--columns)) - var(--gutter));
    box-sizing: border-box;
}
body{
    background-color: #C5E3BF;
    margin: 0 auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 20vh;
    margin-bottom: var(--gutter);
}

/******Login styles******/
.login{
    margin: auto;
}
.login_fieldset{
    height: 80%;

    display: flex;
    flex-direction: column;
}
.login_field{
    flex-direction: column;
    justify-content: center;

    height: 4rem;
}
.login_id{
    margin:0;
}
.login_input{
    height: 1.5rem;
    font-size: 1rem;
}

.login_button{
    float: right;
}
.signup{
    margin:auto;
}
/***Register_Page***/

.rmain__container__registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 80%;
}

.rmain__container__registerForm > input {
    height: 1.5rem;
    margin: 0 1em;
    padding: 0 1em;
}

.rmain__container__registerForm > input:hover {
    background-color: azure;
}

.rmain__container__registerForm > input:focus {
    background-color: azure;
}

.rmain__container__registerForm > p {
    text-align: center;
}
/*****Main_Page*****/

.main__container {
    display: flex;
    flex-direction: column;
}

.main__container__select-value > button {
    width: 100%;
}

.main__container__select-slide > select {
    width: 100%;
}

/*****Grid setup*****/
.grid{
    display: flex;
    flex-direction: column;

    width: calc(100%-var(--offset));
    max-width: var(--max_width);
}
.row{
    display: flex;

    width: 100%;
    margin-bottom: var(--gutter);
}
.col_6{
    width: 50%;
}

.offset_col_3{
    margin-left: 25%;
}

@media (max-width:600px){
    h1{
        font-size: 18vw;
    }
    .login{
        width:90%;
    }
    .signup{
        width: 90%;
    }
}

@media (max-width: 400px){
    .login{
        width:100%;
    }
    .signup{
        width: 100%;
    }
}

/*** Header ***/

.header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #007116;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
    top: 0;
    position: sticky;
}

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}

.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #007116 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.navbarInput:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.navbarInput {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: sticky;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.navbarInput:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
.navbarInput:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
.navbarInput:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.overview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.overview_control {
    display: flex;
    flex-direction: column;
    border: 2px solid #3339;
    border-radius: 3px;
    padding: 10px;
}

.overview_element {
    display: flex;
    justify-content: space-between;
}

.overview_label {
    flex-grow: 1;
}

.overview_input {
  -webkit-appearance: none;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.overview_input:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 3px;
  color: #000;
}
#matur {
  background-color: rgba(250,50,0,0.8);
}
#fatnadur {
  background-color: rgba(24,128,68,0.8);
}
#afengi {
  background-color: rgba(209,131,192,0.8);
}
#tobak {
  background-color: rgba(52,236,254,0.8);
}
#skemmtun {
  background-color: rgba(238,233,52,0.8);
}
#veitingar {
  background-color: rgba(255,51,30,0.8);
}
