<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Add Receipt</title>
</head>
<body>
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li><a href="/mainPage" target="_blank">Gjaldbrot<span>Menu</span></a></li>
            <li><a href="/overView" target="_blank">Overview</a></li>
            <li><a href="#" target="_blank">Add receipt</a></li>
            <li><a href="" target="_blank">Savings</a></li>
            <li><a href="" target="_blank">Contact</a></li>
            <li><a href="/logout" target="_blank">logout</a></li>
        </ul>
    </div>
    <div>
        <h1>Add Receipt</h1>
    </div>
    <main class="rmain">
        <div class="rmain__container">1
            <h1>Register</h1>
            <form action="#" th:action="@{/addReceipt}" th:object="${receipt}" class="rmain__container__registerForm" method="post">
                <p>Date:</p>
                <input type="date" name="rDate" id="date" th:field="*{date}">
                <p>Time:</p>
                <input type="time" name="rTime" id="time" th:field="*{time}">
                <p>Type:</p>
                <input type="text" name="rType" id="type" th:field="*{type}">
                <p>Amount:</p>
                <input type="number" name="rAmount" id="amount" th:field="*{amount}">
                <input type="submit" value="add" class="rmain__container__registerForm-submit">
            </form>
        </div>
    </main>
</body>
</html>