<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <title>Add Receipt</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"> </header>
    <div>
        <h1>Change Receipt</h1>
    </div>
    <main class="rmain">
    <div class="rmain__container">
        <script>
            let url = window.location.href;
            let id = url.substring(url.lastIndexOf('/')+1, url.length);
        </script>
        <form action="#" th:action="@{/changeReceipt}" th:object="${newReceipt}" class="rmain__container__registerForm" method="post">
            <p>Date:</p>
            <input type="date" id="date" name="date" th:value="${oldReceiptDate}">
            <p>Time:</p>
            <input type="time" th:field="*{time}" th:value="${session.time}">
            <p>Type:</p>
            <select name="type" id="type">
                <option th:selected="${oldReceiptType} == 0" th:value=0>Matur</option>
                <option th:selected="${oldReceiptType} == 1" th:value=1>Fatnaður</option>
                <option th:selected="${oldReceiptType} == 2" th:value=2>Veitingar</option>
                <option th:selected="${oldReceiptType} == 3" th:value=3>Skemmtun</option>
                <option th:selected="${oldReceiptType} == 4" th:value=4>Áfengi</option>
                <option th:selected="${oldReceiptType} == 5" th:value=5>Tóbak</option>
            </select>
            <p>Amount:</p>
            <input type="number" name="amount" id="amount"  th:value="${oldReceiptAmount}">
            <input type="submit" value="Change" class="rmain__container__registerForm-submit">
        </form>
    </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>