<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Gjaldbrot - Receipts</title>
</head>
<body>
    <header th:insert="fragments/header.html :: header"> </header>
    <main class = "allReceipt">
        <div class = "allReceipt-title">
            <h2>All Receipts</h2>
        </div>
        <div class="table-row">
            <ul class="table-selector">
                <li>
                    <div class="tableCol tableCol-2">Display by date</div>
                    <div class="tableCol tableCol-2">Display by time</div>
                    <div class="tableCol tableCol-2">Display by type</div>
                </li>
            </ul>
        </div>
        <div th:switch="${receipts}" class="allReceipt__container">
            <h2 th:case="null">There are no receipts</h2>
            <div th:case="*">
                <ul class= "responsive-table">
                    <li class="table-header">
                        <div class="tableCol tableCol-1">Date</div>
                        <div class="tableCol tableCol-2">Time</div>
                        <div class="tableCol tableCol-3">Type</div>
                        <div class="tableCol tableCol-2">Amount</div>
                        <div class="tableCol tableCol-1">Change</div>
                    </li>
                    <li class="table-row" th:each="receipt : ${receipts}">
                        <div class="tableCol tableCol-1" th:text="${receipt.date}"></div>
                        <div class="tableCol tableCol-2" th:text="${receipt.time}"></div>
                        <div class="tableCol tableCol-3">
                            <img th:src="@{'img/types/' + ${receipt.type} + '.svg'}", th:alt="${receipt.type}">
                        </div>
                        <div class="tableCol tableCol-2" th:text="${receipt.amount} + 'kr'"></div>
                        <div class="tableCol tableCol-1">
                            <a th:href="'changeReceipt/'+${receipt.id}">Change Receipt</a>
                        </div>
                        <div class="tableCol tableCol-1">
                            <a th:href="'deleteReceipt/'+${receipt.id}">Delete Receipt</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>