<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Gjaldbrot</h1>
</header>
<main class="grid">
    <div class="row">
        <form class="login col_6" action="#" th:action="@{/login}" th:object="${user}" method="post">
            <fieldset class="login_fieldset">
                <legend>Innskráning</legend>
                <label class="login_field row">
                    <p class="login_id">Notendanafn</p>
                    <input class="login_input" id="username" type="text" th:field="*{uName}" required>
                </label>
                <label class="login_field row">
                    <p class="login_id">Lykilorð</p>
                    <input class="login_input" id="password" type="password" th:field="*{password}" required>
                </label>
            </fieldset>
            <input class="login_button" type="submit" value="Login"/>
        </form>
    </div>
    <section class="row">
        <p class="signup col_6">Ertu ekki með aðgang? Skráðu þig í Gjaldbrot <a href="signup">Hér</a></p>
    </section>
</main>
</body>
</html>