<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
<header>
    <h1>Gjaldbrot</h1>
</header>
<main class="grid">
    <div class="container">
        <h1>Innskráning</h1>
        <div th:if="${param.error}" class="alert alert-danger">Rangt notendanafn.</div>
        <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
        <form th:action="@{/doLogin}" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-2" for="username">Tölvupóstur:</label>
                <div class="col-xs-10">
                    <input id="username" type="text" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" for="password">Lykilorð: </label>
                <div class="col-xs-10">
                    <input id="password" type="password" name="password" />
                </div>
            </div>
            <div class="form-actions col-xs-offset-2 col-xs-10">
                <input type="submit" class="btn btn-primary" value="Innskráning" />
            </div>
            <a class="btn btn-outline-primary" href="/signup">Búa til aðgang</a>
            <!-- <a class="btn btn-outline-primary"  th:href="@{/signup}">Búa til aðgang</a> -->
        </form>
    </div>
    <section class="row">
        <p class="signup col_6">Ertu ekki með aðgang? Skráðu þig í Gjaldbrot <a href="@{/signup}">Hér</a></p>
    </section>
</main>
<script src="/js/foo.js"></script>
</body>
</html>