<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register</title>
</head>
<body>
<main class="rmain">
    <div class="rmain__container">
        <h1>Register</h1>
        <form action="#" th:action="@{/signup}" th:object="${user}" class="rmain__container__registerForm" method="post">
            <p>First name:</p>
            <input type="text" name="pFName" id="username" th:field="*{uName}">
            <!--<p>Last name:</p>
            <input type="text" name="pLName" th:field="*{userLName}">
            <p>Email:</p>
            <input type="text" name="pEmail" th:field="*{userEmail}">-->
            <p>Password:</p>
            <input type="text" name="pPassword" id="password" th:field="*{Password}">
            <!--<p>Confirm Password:</p>
            <input type="text" name="cPassword" th:field="*{userCPass}">
            <br>-->
            <input type="submit" value="submit" class="rmain__container__registerForm-submit">
        </form>
        <div class="rmain__indexlink">
            <P>Back to login? <a href="/">Here</a></P>
        </div>
    </div>
</main>
</body>
</html>