<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Register</title>
</head>
<body>
<main class="rmain">
    <div layout:fragment="content">
        <div class="container">
            <h1>Stofna aðgang</h1>
            <form id="userForm" th:action="@{/signup}" th:object="${user}" action="#" method="post" class="form-horizontal">
                <!-- <div th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="alert alert-danger">Incorrect password confirmation</div> -->
                <input type="hidden" th:field="*{id}" />
                <!-- <input type="hidden" /> -->
                <!-- <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'"> -->
                <label class="control-label col-xs-2" for="name">Nafn</label>
                <div class="col-xs-10">
                    <input id="name" type="text" title="name" th:field="*{name}" />
                    <!-- <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block">Email Error</span> -->
                </div>
                <label class="control-label col-xs-2" for="email">Tölvupóstur</label>
                <div class="col-xs-10">
                    <input id="email" type="email" title="email" th:field="*{email}" />
                    <!-- <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block">Email Error</span> -->
                </div>
                <!-- </div> -->
                <!-- <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'"> -->
                <label class="control-label col-xs-2" for="password">Lykilorð</label>
                <div class="col-xs-10">
                    <input id="password" type="password" title="password" th:field="*{password}" />
                    <!-- <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block">Lykilorð Error</span> -->
                </div>
                <!-- </div> -->
                <!-- <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirmation')} ? 'has-error'"> -->
                <label class="control-label col-xs-2" for="passwordConfirmation">Lykilorð staðfesting</label>
                <div class="col-xs-10">
                    <input id="passwordConfirmation" type="password" title="passwordConfirmation" th:field="*{passwordConfirmation}" />
                    <!-- <span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="help-block">Lykilorð Confirmation Error</span> -->
                </div>
                <!-- </div> -->
                <div class="form-actions col-xs-offset-2 col-xs-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>